<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div id="form-body">
            <form method="POST">
                <div class="form-group">
                    <input type="accountLogin" class="form-control" id="user" placeholder="Enter your Account">
                </div>
                <div class="form-group">
                    <input type="passwordLogin" class="form-control" id="pass" placeholder="Password">
                </div>

                <div>
                    <label id="messageLogin"></label>
                </div>
                <button type="submit" class="btn btn-primary" id="btnLogin">Login</button>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="./js/login.js"></script>

</html>