.header {
    background-color: #0000ff;
    font-weight: bold;
    font-style: initial;
}

.nav {
    background-color: #ffc6ff;
    text-align: center;
}
.nav a:hover{
    color: crimson;
}

.main {
    display: inline-block;
    background-color: #ffd700;
    width: 75%;
}
.main p{
    width: 90%;
    padding-left: 20px;
}

.aside {
    background-color: #808080;
    float: right;
    width: 23%;
    padding-left: 15px;
}

.footer {
    background-color: #00ffff;
    clear: both;
}